 <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
   <div class="row">
     <div class="col-md-10">
       <input class="form-control form-control-lg" formControlName="url" type="text" placeholder="Paste Link">
       <p class="text text-warning" *ngIf="error && error.length>0">{{error}}</p>

     </div>
     <div class="col-md-2">
       <input type="submit" class="btn btn-success btn-lg" [disabled]="urlForm.invalid"
         [ngStyle]="urlForm.invalid && {'backgroundColor': '#333'} " value="Shorten" />
     </div>



   </div>
 </form>
 <div *ngIf="hasShortened" class="row">
   <div class="col-md-10">
     <div class="card bg-white mt-3">
       <div class="card-body">
         <div class="row">
           <div class="col-md-7">
             <p>{{originalUrl}}</p>
           </div>
           <div class="col-md-3">
             <p>{{shortUrl}}</p>
           </div>
           <div class="col-md-2">
             <button type="submit" class="btn btn-info btn-lg" (cbOnSuccess)=" copied()" ngxClipboard
               [cbContent]=shortUrl>Copy</button>
           </div>
         </div>
       </div>
     </div>

     <div class="col-md-2"></div>
   </div>
 </div>
